html, body {
    margin:0;
}
#imagem_fundo {
    background: url("349-felixrussell5145-x2.jpg");
    height: 100%;      
    text-align: center;
}
#titulo {
    color:saddlebrown;
    padding-top: 8%;
    font-size: 60px;
}
#subtitulo {
    border-top-width: 5px saddlebrown solid;
    color: saddlebrown;
    padding-left: 20%;
    padding-right: 20%;
}
#acao{
    color:saddlebrown;
    border: 3px saddlebrown solid;
    padding: 10px 20px 10px 20px ;
}
